<div class="col-xs-2">  
 <br/>   <br/><br/><br/>
    <div class="container-secondary">
      <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top" role="complementary">
 <div class="panel panel-default">
   <div class="panel-body">
  <br/>
          <p align="center"><img src="http://z.k1982.com/design_img/201308/201308051700443479.jpg" alt="LOGO" name="logo" width="110" height="100" id="logo" class="img-circle" align="center"/></p>
</br>
          <p align="center"><a data-toggle="modal" data-target="#myInfo" href=""  data-toggle="tooltip" data-placement="top" title="讨厌～偷看人家的隐私了la～" >骏宇就是wind</a></p>
             <p align="center"><button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="去我的微博逛逛吧～"><a href="http://weibo.com/u/2949530701?from=profile&wvr=5&loc=infdomain#_loginLayer_1416022467903">关注Ta</a></button></p>
          <p align="center"><strong>{{blog.counts}}人关注</strong></p>
          <hr/>
     
            <address>
  <p style="font-size:22px" align="center">我是个</p>
  <p align="center">&nbsp;男，非单身的</p>
  <p align="center" style="font-size:22px">程序猿</p>
  <p  align="center">在广州</p><br>
            </address>
</div> 
</div>     
            <blockquote>
          
         
         
          </blockquote>
        </div>         
    </div>   
  </div>


 </div>
 
 </div> 




<!--Myinfo-->
<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">关于我</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <span class="glyphicon glyphicon-user">站主</span><br/>
  <dt>姓名</dt>
   <dd>骏宇wind</dd>
  <dt>性别</dt>
    <dd>男</dd>
    <dt>今年</dt>
    <dd>21啦～</dd>
  <dt>学校</dt>
    <dd>华南理工大学</dd>
  <dt>专业</dt>
    <dd>一个苦逼的，傻逼的程序师～</dd>
  <dt>人生格言</dt>
    <dd>直面暗影，找寻真理</dd>
</dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!--Myinfo--end>