<style>
a{
    color: #666666
}
</style>

  
 <br/><br/><br/><br/>

    <!--侧栏第一部分-->
        <div class="panel panel-default">
          <div class="panel-body">
          </br>
          <p align="center">
              <img src="/static/img/owner.jpg" alt="LOGO" name="logo" width="110" height="100" id="logo" class="img-circle" align="center"/>
          </p>
          </br>
          <p align="center">
              <a data-toggle="modal" data-target="#myInfo" href=""  data-toggle="tooltip" data-placement="top" title="讨厌～偷看人家的隐私了la～" style="color: #666666">骏宇就是wind
              </a>
          </p>
          <p align="center">
              <a href="http://j.map.baidu.com/_say5" target="_blank">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                    </span>
              </a>
          </p>

          <hr/>

            <ul class="nav nav-pills nav-stacked">
              <li role="presentation"><a href="/" style="color: #666666">首页</a></li>
              <li role="presentation"><a href="/blog" style="color: #666666">博客</a></li>
              <li role="presentation"><a href="/timestamp" style="color: #666666">时间轴</a></li>
              <li role="presentation"><a href="/bbs" style="color: #666666">论坛</a></li>
              <li role="presentation"><a href="/cloud" style="color: #666666">好玩</a></li>
              <li role="presentation"><a href="/product" style="color: #666666">产品</a></li>
              <li>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #666666">友情链接<span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                      <li role="presentation"><a href="http://www.pibipa.com/" target="_blank" style="color: #666666">Pibipa</a></li>
                      <li role="presentation"><a href="http://www.binsite.me/" target="_blank" style="color: #666666">Binsite</a></li>
                      <li role="presentation"><a href="http://www.hebiblog.com/" target="_blank" style="color: #666666">Hebiblog</a></li>
                  </ul>
              </li>
            </ul>
          </div> 
        </div>         
    <!--侧栏第一部分 end-->
    </br>

    <!--侧栏第二部分-->


        <div class="thumbnail">
            <img src="/static/img/alipay.png" alt="...">
            <div class="caption">
                <h3 align="center">扫描捐赠</h3>
                <p>无论数额，扫描上二维码，通过支付宝给予本站支持，本站将特别感谢你的捐赠。</p>
                <p align="center">Thanks！</p>
                <hr/>
                <p align="center"><!-- <a href="#" class="btn btn-primary" role="button">Bu</a> --> 
                  <a href="#" data-toggle="modal" data-target="#thankList" class="btn btn-default" role="button">鸣谢</a>
                </p>
            </div>
        </div>

    <!--侧栏第二部分 end-->

<!--Myinfo-->
<div class="modal fade" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">关于我<span class="glyphicon glyphicon-user"></span></h4>
      </div>
    
        <div class="modal-body">
          <dl class="dl-horizontal">         
          <br/>
                <dt>Name</dt>
                  <dd>Wind Young</dd>
                <dt>Sex</dt>
                  <dd>不女不人妖</dd>
                <dt>Words</dt>
                  <dd>爱生活，爱漂亮妹子，爱LOL，爱吉他和指弹</dd>
                <dt></dt>
                  <dd>敲代码，喝可乐，玩摇滚，我就是我</dd>
          </dl>
        </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>

<!--Myinfo end -->

<!--thank list -->
<div class="modal fade" id="thankList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">特别鸣谢</h4>
      </div>
    
        <div class="modal-body">
          <dl class="dl-horizontal">
              <span class="glyphicon glyphicon-user">土豪</span>
              <br/>
                 {% for user in alluser %}
                <dt>土豪</dt>
                  <dd>{{ user.username }} &nbsp;&nbsp;捐献： {{ user.donate }}</dd>
                  {% endfor %}
          </dl>
                

        </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </div>
    </div>
  </div>
</div>
<!--thank list end-->