<!DOCTYPE html>
    
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
      <script src="/static/js/blog_operation.js"></script>
      <title>说点什么吧</title>
      <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
      <link rel="icon" href="/static/img/forrest.ico">
<style>
  .copyright {
    color:#080808;
    font-size:8px;
    font-family:"Microsoft YaHei" !important;
    border-bottom:10px;
  }

  .blog_title{
    font-size:30px;
  }

</style>
     <script src="http://lib.sinaapp.com/js/jquery/2.0.3/jquery-2.0.3.min.js"></script>
     <script src="/static/js/bootstrap.js"></script>
     <link href="/static/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>

{%include "navigation.html"%}
<!-- 页头 -->
  <div class="bs-docs-header" id="content">
        <div class="container">

<br/><br/>
<br/><br/>         
<br/><br/> 
<!-- 页头 end -->

<!-- 主要内容 -->
<!-- 博文 -->
<div class="container">
  <div class="row"> 

    <div class="col-xs-9">
      <div class="content_body">
      {% block content_body %}{% endblock %}
      </div>
    </div>
<!-- 博文 end -->

<!-- 侧面内容 -->
    <div class="col-xs-3">
    {% include "bbs-aside.html" %}
      </div>
<!-- end 侧面内容 -->
    </div>

  </div>
</div>
<!-- 主要内容end -->

<br/><br/><br/><br/><br/>

 <!-- 页脚footer -->
    <div class="footer">
      <footer class="footer">
        <div id="footer_logo"><img src="/static/img/foot1.png" width="100%" height="100%"/></div>
      </footer>
 <!-- end .footer -->
    </div>

  <script type="text/javascript">
    $(function(){
        //var login_user =  $.cookie('loggin_user');
        //if(login_user){
            // $("#main_title").text('欢迎您，' + logged_in_user);
            // $('#login_button').text('退出');
            // $('#login_button').attr('href', '/');
            // $('#login_button').click(function(){ 
            //     $.cookie('logged_in_user',"", { expires: -1 });
          //  }
          });
        
  </script>

</body>

</html>