{% extends "bbs-base.html" %}
{% load comments %}
{% block content_body %} 

<style>
  body{ 
    background:url(/static/img/back3.png);
  }
  span{
    font-size:13px;
  }
</style>

<!--添加panel-->
<div class="panel panel-default">
  <div class="panel">
        <div class="box bg-1">
            <h2 align="center">Shadowtrees Space</h2>
          <button class="button button--ujarak button--border-thin button--text-thick">Creative</button>
          <button class="button button--ujarak button--border-thin button--text-thick">Simple</button>
          <button class="button button--ujarak button--border-thin button--text-thick">Freaky</button>
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
              <a href="/product" style="color:#666666">产品</a>
            </li>
            <li role="presentation">
              <a href="/blog_classify/?classification=python" style="color:#666666">python</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=杂说" style="color:#666666">杂说</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=Linux" style="color:#666666">Linux</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=面试" style="color:#666666">面试</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=技术" style="color:#666666">技术</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=后台" style="color:#666666">后台</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=django" style="color:#666666">django</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=生活" style="color:#666666">生活</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=工作" style="color:#666666">工作</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=动漫" style="color:#666666">动漫</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=创意" style="color:#666666">创意</a>
            </li>
          </ul>

        </div>   <!--   box bg-1 -->


    </br>
  <div class="row">
      <div class ="col-md-7">
            </br>
            <a href="/" style="color: #666666">&nbsp;&nbsp;&nbsp;&nbsp;首页</a> > 
            <a href="/bbs/" style="color: #666666">论坛</a>
      </div>

      <div class ="col-md-5">
        <table>
          <tr>
          <form action ="/blog_search/?=" method="get">
            <p>
              <td>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">文章排序
                    <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/blog">按日期</a></li>
                      <li><a href="/blog/?list_by=read">按阅读量</a></li>
                      <li><a href="/blog/?list_by=classification">按分类</a></li>
                    </ul>
                </div>
              </td>
              
              <td>
                <input  type="text" class="form-control" placeholder="输入你寻找的内容" name="search_content">
<!--                   <div style="width:200px;height:50px;">
                    <input required='' type='text' class="form-control" name="search_content">
                    <label alt='请输入搜索内容' placeholder='名称'></label>
                  </div> -->
              </td>
      
              <td>
                <button type="submit"  class="btn btn-default" value=""><span class="glyphicon glyphicon-search"></span></button>
              </td>
            </p>
          </tr>
          </form>
        </table>
      </div>
    </div>
  <hr/>


  {% ifequal blog_count 0 %}

  <h2 align="center">
      <img src="http://www.qqmofasi.com/data/attachments/2014/06/23/97_Lv1DuBU19ZdzY7d1JBxd_square.jpg" style="filter:Alpha(opacity=40,finishOpacity=3,style=3)">什么都没有找到哦～</img>
  </h2>

  {% else %}
  




{% for article in articles %}

<div class ="col-md-offset-1">
<table>
  <tr>
    <td>
      <dl>
        <dt>
          <img src="{{ article.user.headimg }}" class="img-circle" alt="你网速也太慢了吧～" style="width: 70px;  height: 65px;" >
        </dt>

        <dt>
          <p align="center">
            <a href="/u/?username={{ article.user.username }}">{{ article.user.username }}</a>
          </p>
        </dt>
      </dl>
    </td>
    
    <td>
      <div class="caption">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a style="color:#8B636C;font-size:20px;" href="/a/?id={{ article.id }}" title="点击查看该文章～">
            {{ article.caption }}
            </a>
      </div>

            </br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span style="float:center">阅读:&nbsp;<span class="badge">{{ article.read_num }}</span></span>                    
            <span style="float:center">赞:&nbsp;<span class="badge">{{ article.mark_num }}</span></span>
            <span style="float:center">评论:&nbsp;<span class="badge">{{ article.discuss_num }}</span></span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分类:&nbsp;{{ article.classification }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布于&nbsp;{{ article.update_time|date:"Y-m-d H:i" }} </span>

            &nbsp;&nbsp; 


    </td>

  </tr>

</table> 

</div>    
<hr/>
    
    {% endfor %}


{% endifequal %}            
        


      {% include "article_page.html" %}
      
      <!--添加panel end-->
      </div>
</div>
      <!--添加panel end-->





<div class="modal fade" id="login_info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(function(){
        var state =  "{{ state }}";
        if(state){
            $('#login_info').modal();                      // 以默认值初始化
            $('#login_info').modal({ keyboard: false });   // initialized with no keyboard
            $('#login_info').modal('show');
        }
      });
</script>

{% endblock %}
