<nav class="navbar" role="navigation">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="http://www.iconpng.com/png/hexagonal_social_icons/forrst.png" width="50" height="50">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#" data-toggle="modal" data-target="#myModal2">联系我</a></li>
        <li><a href="/">主页</a></li>
        <li><a href="#" data-toggle="modal" data-target="#myModal">产品</a></li>
        <li><a href="/blog">博客</a></li>
        <li><a href="/cloud">好玩</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">更多<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-toggle="modal" data-target="#myModal1">技术交流</a></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">学习</a></li>
            <li class="divider"></li>
            <li><a href="#" onBlur="shareIt()">分享该网页</a></li>
            <li class="divider"></li>
            <li><a href="#" data-toggle="modal" data-target="#myModal">More</a></li>
          </ul>
        </li>
      </ul>

      
      <!--右上角图标-->
      <div class="contact_logo" align="right">
          <a titile="v2ex" href="https://www.v2ex.com/member/wind3110991">
              <img src="/static/img/v2ex.jpg" alt="你网速也太慢了吧～" style="width: 23px; height: 23px;" />
          </a> &nbsp;&nbsp;
          
          <a titile="github" href="https://github.com/wind3110991">
              <img src="/static/img/github.jpg" alt="你网速也太慢了吧～" style="width: 25px; height: 25px;" />
          </a> &nbsp;
        
          <a titile="gmail" href="mailto:windisbest@gmai.com">
            <img src="/static/img/gmail.jpg" alt="你网速也太慢了吧～" style="width: 25px; height: 25px;" />
          </a>&nbsp;&nbsp;
          
          <a titile="twitter" href="https://twitter.com/WindisYoung">
              <img src="/static/img/twitter.png" alt="你网速也太慢了吧～" style="width: 25px; height: 25px;" />
          </a>&nbsp;&nbsp;&nbsp;
          
          <a titile="weibo" href="http://www.weibo.com/u/2949530701?from=profile&wvr=5&loc=infdomain#_loginLayer_1416022467903">
            <img src="/static/img/weibo.jpg" alt="你网速也太慢了吧～" style="width: 24px; height: 24px;" />
          </a>&nbsp;&nbsp;&nbsp;
          
          <a titile="facebook" href="https://www.facebook.com/windisbest">
            <img src="/static/img/facebook.jpg" alt="你网速也太慢了吧～" style="width: 25px; height: 25px;" />
          </a>
      </div>
      <!--右上角图标end-->

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">关于Wind的暗影森林</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <img src="/static/img/product1.GIF"/>
            </td>

            <td>
              <p>版本号:    &nbsp;&nbsp;Version 2.0</p>
              <p>开发者:    &nbsp;&nbsp;Wind Young</p>
              <p>技术支持:    &nbsp;&nbsp;<a href="https://www.djangoproject.com/">Django</a></p>
              <p>最近更新:   &nbsp;&nbsp;2015-8-25</p>
            </td>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">电话：1366070XXXX</h4>
      </div>
      <div class="modal-body">
        
        <p>暗影森林处于开发阶段。。。敬请期待吧～！</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">你可以通过以下方式联系我</h4>
      </div>
      <div class="modal-body">
        
        <table>
          <tr>
            <td>
              <p>QQ:    &nbsp;&nbsp;312456073（请注明您的身份）</p>
              <p>微信:    &nbsp;&nbsp;312456073（请注明您的身份）</p>
              <p>E-mail:   &nbsp;&nbsp;<a href="mailto:windisbest@gmail.com">windisbest@gmail.com</a></p>
              <p>微博:       &nbsp;&nbsp;<a href="http://www.weibo.com/u/2949530701?from=profile&wvr=5&loc=infdomain#_loginLayer_1416022467903">骏宇就是黑椒</a></p>
            </td>
            <td>
              <img src="/static/img/product2.GIF"/ width="90%" height="90%">
            </td>

          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>