        <div id="somedialog1" class="dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
            <div class="morph-shape">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 560 280" preserveAspectRatio="none">
                <rect x="3" y="3" fill="none" width="556" height="276"/>
              </svg>
            </div>
            <div class="dialog-inner">
              <h3><strong>《1993.9 我降临到这个世界》</strong></h3>
              <hr/>
                <h5>感谢我的母亲，给予了我生命，让我活在这个精彩的世界。
                其实不是每个人都是上帝的宠儿，我不高不帅，不突出但也不平凡，
                但是我感谢我的母亲，如果没有她，我根本不可能在这里，
                同你在这里胡说八道。
                </h5>
                <h5>
                所以，趁她还在，与其花时间爱一个不爱你的人，
                －－不如花时间，去爱你的母亲。
                </h5>
              <a class="action" data-dialog-close></a>
            </div>
          </div>
        </div>

        <div id="somedialog2" class="dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
            <div class="morph-shape">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 560 280" preserveAspectRatio="none">
                <rect x="3" y="3" fill="none" width="556" height="276"/>
              </svg>
            </div>
            <div class="dialog-inner">
              <h3><strong>《1995.4 学会了人生第一门语言》</strong></h3>
              <hr/>
                <h5>我很早就学会说话了，很难想象，当你的孩子叫出一声爸爸或者妈妈时，你的心情会是如何
                </h5>
                <h5>
                  我的家乡说的是方言，我小时候很羡慕那些说普通话的地区。我本身觉得自己的方言说起来不是很好听，而当我后来离开家乡后，身边说家乡话的人愈发少了，我也就不得不变得释然许多。来到广东，我学会的第一门语言也不是粤语，而是c++，似乎我对语言有种天生的天赋，我学英语也感觉很轻松，但是在理工方面，我很怕做难题，特别是那种压轴的。可能是我天生喜欢轻松环境的缘故吧。
                </h5>
              <a class="action" data-dialog-close></a>
            </div>
          </div>
        </div>

        <div id="somedialog3" class="dialog">
          <div class="dialog__overlay"></div>
          <div class="dialog__content">
            <div class="morph-shape">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 560 280" preserveAspectRatio="none">
                <rect x="3" y="3" fill="none" width="556" height="276"/>
              </svg>
            </div>
            <div class="dialog-inner">
              <h3><strong>《1995.4 学会了人生第一门语言》</strong></h3>
              <hr/>
                <h5>我很早就学会说话了，很难想象，当你的孩子叫出一声爸爸或者妈妈时，你的心情会是如何
                </h5>
                <h5>
                  我的家乡说的是方言，我小时候很羡慕那些说普通话的地区。我本身觉得自己的方言说起来不是很好听，而当我后来离开家乡后，身边说家乡话的人愈发少了，我也就不得不变得释然许多。来到广东，我学会的第一门语言也不是粤语，而是c++，似乎我对语言有种天生的天赋，我学英语也感觉很轻松，但是在理工方面，我很怕做难题，特别是那种压轴的。可能是我天生喜欢轻松环境的缘故吧。
                </h5>
              <a class="action" data-dialog-close></a>
            </div>
          </div>
        </div>

