
    <div id="nav">
        <ul style="font-size:20px">
                <li>
                  <a href="/" class="a_normal">首页</a>
                </li>
                
                <li>
                  <a href="/" class="a_normal">交流</a>
                    <ul class="nav ul li" style="font-size:8px">
                      <li ><a href="#">&nbsp;微信</a></li>
                      <li><a href="#"  data-toggle="modal" data-target="#myModal">&nbsp;E-mail</a></li>
                      <li><a href="#">&nbsp;QQ</a></li>
                    </ul>
                </li>

                <li>
                  <a class="a_normal">友情链接</a>
                    <ul class="nav ul li" style="font-size:8px">
                      <li><a href="http://www.pibipa.com/">&nbsp;Pibipa</a></li>
                      <li><a href="http://www.binsite.me/">&nbsp;binsite</a></li>
                      <li><a href="http://www.hebiblog.com/">&nbsp;hebiblog</a></li>
                    </ul>
                </li>

                <li>
                  <a href="/about/" class="a_normal">Share</a>
                    <ul class="nav ul li" style="font-size:8px">
                      <li><a href="#">&nbsp;发送链接</a></li>
                      <li><a href="#">&nbsp;把我推荐给Ta</a></li>
                    </ul>
                </li> 
              
                <li>
                  <a href="/blog/" class="a_normal">博客</a> 
                    <ul class="nav ul li" style="font-size:8px">
                    </ul>
                </li>

        </ul>
    </div>

<!--页头内容-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Email</h4>
      </div>

      <div class="modal-body">
        <span class="glyphicon glyphicon-envelope">
          <p>312456073@qq.com</p>
        <span>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--页头内容 end-->