<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="http://mobile.zol.com.cn/422/4220760.html" target="_blank">
     <img src="http://pic3.bbzhi.com/xitongbizhi/tuyafenggepingguobizhi/computer_mac_142986_10.jpg" alt="..." >
      <div class="carousel-caption">
        <h3>Apple公司的生意经</h3>
        <p>库克和乔布斯，他们对代码的了解到底有多少？</p>
      </div>
    </a>
    </div>
    <div class="item"> 
      <a target="_blank" href="http://tieba.baidu.com/p/3009525297">
      <img src="http://image.tianjimedia.com/uploadImages/2013/077/62NBQ88Q88O8_1440x900.jpg" alt="..." >
      <div class="carousel-caption">
        <h3>我是游戏控</h3>
        <p>盘点英雄联盟中十大carry角色</p>
      </div>
      </a>
    </div>
    <div class="item">
      <a target="_blank" href="http://www.sovxin.com/dt_2355.html">
      <img src="http://s5.51cto.com/wyfs02/M02/40/01/wKioL1PN0uWhg7j5AABsaRfakow753.jpg" alt="..." >
      <div class="carousel-caption">
        <h3>程序员现状调查</h3>
        <p>程序员的薪金等级</p>
      </div>
    </a>
    </div>
    
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>