{% extends "base.html" %}
{% load comments %}
{% block content_body %} 


<style type="text/css">
  body{ 
    background:url(/static/img/backt.png);
  }
</style>
<!--添加panel-->
      <div class="panel panel-default">
        <div class="panel">
          <ul class="nav nav-pills" role="tablist">
            <li role="presentation">
              <a href="/blog_classify/?classification=python" style="color:#666666">python</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=杂说" style="color:#666666">杂说</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=Linux" style="color:#666666">Linux</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=面试" style="color:#666666">面试</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=技术" style="color:#666666">技术</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=后台" style="color:#666666">后台</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=django" style="color:#666666">django</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=生活" style="color:#666666">生活</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=工作" style="color:#666666">工作</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=动漫" style="color:#666666">动漫</a>
            </li>
            <li role="presentation"><a href="/blog_classify/?classification=创意" style="color:#666666">创意</a>
            </li>
          </ul>
        </div>

        <div class="panel-body">
            <div class="blog_description">
<!--添加panel-->
              <a href="/" style="color: #666666">首页</a> > 
              <a href="/blog" style="color: #666666">博客</a>

<div class="row">
  <div class ="col-sm-6">
    <table>
      <tr>
        <form action ="/blog_search/?=" method="get">
          <p>
            <td>
              <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">文章排序
                    <span class="caret"></span>
                  </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="/blog">按日期</a></li>
                      <li><a href="/blog/?list_by=read">按阅读量</a></li>
                      <li><a href="/blog/?list_by=classification">按分类</a></li>
                    </ul>
              </div>
            </td>
            <td>
              <input  type="text" class="form-control" placeholder="输入你寻找的内容" name="search_content">
<!--                   <div style="width:200px;height:50px;">
                    <input required='' type='text' class="form-control" name="search_content">
                    <label alt='请输入搜索内容' placeholder='名称'></label>
                  </div> -->
            </td>
      
            <td>
              <button type="submit"  class="btn btn-default" value=""><span class="glyphicon glyphicon-search"></span></button>
            </td>
        </form>
          </p>
      </tr>
    </table>
  </div>
</div>

<hr/>



<div class="main_body">

  {% ifequal blog_count 0 %}

  <h2 align="center">
      <img src="http://www.qqmofasi.com/data/attachments/2014/06/23/97_Lv1DuBU19ZdzY7d1JBxd_square.jpg" style="filter:Alpha(opacity=40,finishOpacity=3,style=3)">什么都没有找到哦～</img>
  </h2>

  {% else %}
  
   
   
      {% for blog in blogs %}

      {% get_comment_count for blog as comment_count %}

<table>
  <tr>
    <td>
      <img src="/static/img/me.jpg" alt="你网速也太慢了吧～" style="width: 100px;  height: 100px;" />
    </td>
    
    <td style="font-size:22px">
      <div class="blog_body">
        <div class ="blog_title">

          <p align="center" style="font-size:18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a style="color:black;text-decoration:none;" href="/blog_detail/?id={{ blog.id }}" data-toggle="tooltip" data-placement="top" title="点击查看该文章～" >   {{ blog.caption }}
              </a>
          </p>
            
        </div>
  
          <div class="blog_info1">
              <span class="blog_info1_list">
                <p style="font-size:14px">
                
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="blog_info2_list">
                    <span class="glyphicon glyphicon-tags">  标签：
                  {% for tag in blog.tags.all %} {{ tag.tag_name }}&nbsp;

                  {% endfor %} 

                      <span class="glyphicon glyphicon-folder-open">&nbsp;分类:&nbsp;{{ blog.classification }}</span>
                   
                    </span>
                </p>
          </div>
    </td>


    <div class="blog_splitline"></div> 
      <div class="highlight">
        <!--  
          <pre>
            <div class="blog_description"><p style="font-size:20px"> {{ blog.content|truncatechars:15}}<p></div>
          </pre>
        -->
      </div>
        <div class="blog_info2">
             
                </span>
              </span>

        </div>
      </div>   
   </tr>
</table> 
 

   
    <span class="label label-default">
      <span class="glyphicon glyphicon-time">发表时间：{{ blog.publish_time|date:"Y-m-d H:i" }}</span>
    </span>

    <p align="right">
      <span class="glyphicon glyphicon-eye-open" style="color:#878787">阅读<span class="badge">{{ blog.counts }}
        </span>
      </span>
              &nbsp;&nbsp;&nbsp;
      <span style="color:#878787" class="glyphicon glyphicon-thumbs-up">赞<span class="badge">{{ blog.markCount}}
        </span>
      </span>
              &nbsp;&nbsp;&nbsp;
      <span style="color:#878787" class="glyphicon glyphicon-comment">评论<span class="badge">{{ comment_count }}
        </span>
      </span>
  </p>

  
  <hr/>


{% endfor %}

{% endifequal %}            
        
</div>


      {% include "page.html" %}
      
      <!--添加panel end-->
      </div>
    </div>
</div>
      <!--添加panel end-->

{% endblock %}
