<div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">关于我</h4>
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <span class="glyphicon glyphicon-user">站主</span><br/>
  <dt>姓名</dt>
   <dd></dd>
  <dt>性别</dt>
    <dd></dd>
    <dt>今年</dt>
    <dd></dd>
  <dt>E-mail</dt>
    <dd></dd>
  <dt>网址</dt>
    <dd></dd>
 
</dl>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>