{% extends "bbs-base.html" %}

{% block content_body %}
<script type="text/javascript" src="/static/js/markdown/markdown.js"></script>
<script type="text/javascript" src="/static/js/markdown/markDownEditor.js"></script>
<script type="text/javascript">

$(function(){
	$("#textarea-1").markDownEditor({
		//previewBodyClass : 'text-content',
		//actions : [ 'bold', 'quote' ]
	});
})

</script>
<style type="text/css">
  body{ 
    background:url(/static/img/back3.png);
  }
</style>

<div class="panel panel-default">
    <div class="panel"><br/>
	<a href="/" style="color: #666666">&nbsp;&nbsp;shadowtrees</a> > 
	<a href="/bbs/" style="color: #666666">论坛</a> >
	<a href="/write/" style="color: #666666">写点什么</a>
	<hr/>
	<span class="label label-default">&nbsp;&nbsp;点击选择分类</span>
	<ul class="nav nav-pills" role="tablist">
            <li role="presentation">
              <a href="/product" style="color:#666666">产品</a>
            </li>
            <li role="presentation">
              <a href="#" style="color:#666666">python</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">杂说</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">Linux</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">面试</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">技术</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">后台</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">django</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">生活</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">工作</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">动漫</a>
            </li>
            <li role="presentation"><a href="#" style="color:#666666">创意</a>
            </li>
    </ul>
    	<hr/>

<!-- 	<div class="input-group">
  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">分类<span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu">
		    	<li><a href="#">Action</a></li>
		    	<li><a href="#">Another action</a></li>
		    	<li><a href="#">Something else here</a></li>
		    	<li role="separator" class="divider"></li>
		    	<li><a href="#">Separated link</a></li>
		  	</ul>
	</div> -->
	</br></br>

	<div class="input-group">
  		<span class="input-group-addon" id="basic-addon1">标题</span>
  		<input type="text" class="form-control" placeholder="请输入标题" aria-describedby="basic-addon1">
	</div>
	</br>
		<h5>&nbsp;&nbsp;分类:&nbsp;&nbsp;<span id="classlabel" class="label label-danger">无</span></h5>

		<hr/>
    	<div id="title"><h5> &nbsp;&nbsp;正文</h5>
    		<p>（编辑采用markdown语法，换行请双击enter键，具体markdown语法请参照<a href="#">这里</a>）</p>
    	</div>
    	<textarea name="content" id="textarea-1" rows="22">##推荐使用markdown语法书写文章，你可以在下方预览你的文章内容，也可以收起预览栏</textarea>
    </div>

	</br></br>
    <p align="center"><button type="button" class="btn btn-default">发布</button></p>
	</br>
</div>


<script type="text/javascript">

</script>

{% endblock %}
